<header>
   <h1>Congratulations</h1>
</header>
<h4>Your all answer are correct.</h4>
   <p>
      You win 400 rupee paytm cash. Please enter below your Paytm Number to withdraw your reward.
   </p>
   &nbsp;&nbsp;&nbsp;&nbsp;