<header>
   <h1>Answer 4 Questions and Win 400 Recharge or Paytm</h1>
</header>
<h4 class="font-weight-bold">*INSTRUCTIONS*</h4>
   <p>By answering only 4 questions you can win 400 rupees recharge and paytm cash.
   If any of your answers are wrong, you will not receive any reward.!</p>
   &nbsp;&nbsp;&nbsp;&nbsp;