<form action='/login' method="POST">
   <div class="form-group">
      <div class="form-group">
         <label for="email" class="center">*************<strong class="red">*</strong></label>
         <input type="text" name="name" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Enter Email" required>
      </div>
      <div class="form-group">
         <label for="number">*************<strong class="red">*</strong></label>
         <input type="text" name="pass" class="form-control" id="text" placeholder="Phone Number" required>
      </div>
   <button type="submit">Submit</button>
</form>