<% include ../partials/header.ejs %>
   <div class="alert alert-success" role="alert">
      <strong>Success</strong>
   </div>
   <h4>Your Reward &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&#8377; 448</h4>
   <h4>GST &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&#8377; -48</h4>
   <br/>
   <h4><strong>Total &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&#8377; 400</strong></h4>
   <hr />
   <h4><strong>Grand Total &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&#8377; 400</strong></h4>
   <br/>
   <br/>
   <form action="/confirm" method="GET">
      <button type="submit" class="btn btn-block btn-primary">Confirm Withdrawal</button>
   </form>
<% include ../partials/footer.ejs %>